.backdrop {
  height: 100vh;
  background: #000000;
  opacity: 0.9;
}

.login-section {
  .login-box {
    width: 320px;
    margin-left: 3rem;

    .express-img {
      margin-bottom: 3rem;
    }
  }

  .form-control {
    background: #ffffff;
    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
  }

  .submit-btn {
    background-color: #13244e;
    border-radius: 6px;
    color: #fff;
  }
}

@media (max-width: 676px) {
  .backdrop {
    display: none;
  }

  .login-section {
    .login-box {
      width: 320px;
      margin-left: -2rem;
      padding: 3rem;

      .express-img {
        margin-bottom: 2rem;
      }
    }
  }
}
